@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}


@font-face {
  font-family: 'Archivo Narrow';
  src: url('../fonts/ArchivoNarrow-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}