:root {
  --color-dark: #000;
  --color-light: #fff;
  --color-light-grey: #f2f2f2;

  --border-radius-large: 100px;
  --border-radius-small: 8px;

  --font-family-base: 'Poppins-Regular';
  --font-family-buttons: 'Poppins-Medium';
  --font-family-headers: 'Archivo Narrow';

  --container-width: 1312px;
  --container-padding-x: 20px;

  --section-padding-y: 61px;

  --button-height: 42px;

  --transition-duration: 0.2s
}
